@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input, textarea {
  border-radius: 0;
  -webkit-border-radius: 0px;
}

input {
  -webkit-appearance: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.tab__item {
  display: none;
}
.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}
._tabs-block._active {
  display: block;
}

/*
.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		overflow: auto;
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
         transform: scale(1);

		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: #fff;
		padding: 50px;
		width: 100%;
      max-width: 800px;
      video {
        width: 100%;
         height: 200px;
         object-fit: cover;
      }
	}
	// .popup__close
	&__close {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
		z-index: 30;
		// background: url("../img/icons/close.svg") 0 0 no-repeat;
	}
}
*/
.popup.popup_callback {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -10;
}
.popup.popup_callback .popup__content {
  width: 100%;
  height: 100%;
}
.popup.popup_callback .popup__body {
  position: absolute;
  width: 480px;
  height: 100%;
  top: 0;
  right: -200%;
  background: url(/img/icons/popup-bg.svg) no-repeat, white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup.popup_callback .popup__body .popup__close {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 50px;
  right: 40px;
  background: url(/img/icons/close.svg) no-repeat;
}

.form-popup {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.form-popup__title {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  text-align: center;
}
.form-popup__subtitle {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #5F5F5F;
}
.form-popup__item {
  width: 100%;
}
.form-popup__textarea {
  display: none;
  margin: 25px 0 0 0;
}
.form-popup__name input, .form-popup__tel input {
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
  width: 100%;
  padding: 18px 0;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid #000000;
}
.form-popup__name input:focus::-webkit-input-placeholder, .form-popup__tel input:focus::-webkit-input-placeholder {
  color: transparent;
}
.form-popup__name input:focus::-moz-placeholder, .form-popup__tel input:focus::-moz-placeholder {
  color: transparent;
}
.form-popup__name input:focus:-ms-input-placeholder, .form-popup__tel input:focus:-ms-input-placeholder {
  color: transparent;
}
.form-popup__name input::-webkit-input-placeholder, .form-popup__tel input::-webkit-input-placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.form-popup__name input::-moz-placeholder, .form-popup__tel input::-moz-placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.form-popup__name input:-ms-input-placeholder, .form-popup__tel input:-ms-input-placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.form-popup__name input::-ms-input-placeholder, .form-popup__tel input::-ms-input-placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.form-popup__name input::placeholder, .form-popup__tel input::placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.form-popup__name input:focus, .form-popup__tel input:focus {
  border-bottom: 2px solid #000000;
}
.form-popup__name {
  margin: 25px 0 0 0;
}
.form-popup__tel {
  margin: 5px 0 0 0;
}
.form-popup__check {
  margin: 45px 0 0 0;
  padding: 0 30px;
}
.form-popup__check label {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #868283;
  position: relative;
  padding: 0 0 0 43px;
}
.form-popup__check label::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 2px;
  background-color: #2D8ACD;
}
.form-popup__check input {
  display: none;
}
.form-popup__check input:checked + label::before {
  background: url(/img/icons/check.svg) center no-repeat, #2D8ACD;
}
.form-popup__button {
  text-align: center;
  margin: 30px 0 0 0;
}
.form-popup__btn {
  width: 100%;
  min-height: 55px;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: url(/img/icons/telIncoming.svg) 37px center no-repeat, #41A64E;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form-popup__btn:hover {
  background: url(/img/icons/telIncoming.svg) 37px center no-repeat, #3cd350;
  -webkit-box-shadow: inset 0 0 20px #41A64E;
          box-shadow: inset 0 0 20px #41A64E;
}

.popup.popup_callback._active {
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.363);
}
.popup.popup_callback._active .popup__content {
  position: relative;
}
.popup.popup_callback._active .popup__body {
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 770px) {
  .popup.popup_callback._active .popup__body {
    width: 100%;
    overflow: auto;
  }
}
@media (max-width: 425px) {
  .popup.popup_callback .popup__body {
    background: white;
    padding: 100px 0 60px 0;
  }
  .popup.popup_callback .popup__body .popup__close {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 20px;
    right: 20px;
    background: url(/img/icons/close.svg) center/cover no-repeat;
  }

  .form-popup {
    padding: 200px 15px 0 15px;
  }

  .form-popup__textarea {
    display: block;
    border: 2px solid #000000;
    min-height: 180px;
    padding: 20px;
  }
  .form-popup__textarea textarea {
    /* FF 4-18 */
    /* FF 19+ */
    /* IE 10+ */
  }
  .form-popup__textarea textarea:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .form-popup__textarea textarea:focus::-moz-placeholder {
    color: transparent;
  }
  .form-popup__textarea textarea:focus:-ms-input-placeholder {
    color: transparent;
  }
  .form-popup__textarea textarea::-webkit-input-placeholder {
    color: #000000;
  }
  .form-popup__textarea textarea::-moz-placeholder {
    color: #000000;
  }
  .form-popup__textarea textarea:-ms-input-placeholder {
    color: #000000;
  }
  .form-popup__textarea textarea::-ms-input-placeholder {
    color: #000000;
  }
  .form-popup__textarea textarea::placeholder {
    color: #000000;
  }

  .form-popup__btn {
    padding: 0 0 0 25px;
  }
}
.form__error {
  border: 2px solid red;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.ask-popup__textarea {
  resize: none;
  padding: 0 0;
}

/* 
.btn {
	display: inline-flex;
	padding: 0px 0px;
	@media (min-width: 992px) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
*/
/* 
.select {
	position: relative;
	// .select__item
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
		color: #000;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		cursor: pointer;
		border-radius: 4px;
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}
	// .select__value
	&__value {
		display: flex;
		font-size: 14px;
		height: 30px;
		padding: 0px 15px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		span {
			height: 1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		&:before {
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 11px;
			height: 7px;
			background: url("../img/icons/select.svg") center / 100% no-repeat;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		display: none;
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		font-size: 14px;
		padding: 10px 0px 5px 0px;
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 5px 15px;
		margin: 0px 0px 0px 0px;
		@media (min-width: 992px) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&:before {
				transform: rotate(-180deg);
			}
		}
		.select__options {
			display: block;
		}
	}
}
*/
/* 
.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: #fff url("../img/icons/check.svg") center no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}
*/
/* 
.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .options__item
	&__item {
		position: relative;
		cursor: pointer;
		&._error {
		}
	}
	// .options__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		left: 0;
		top: 0;
		visibility: hidden;
		&:checked + .options__text:before {
		}
		&:checked + .options__text:after {
			transform: scale(1);
		}
	}
	// .options__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			border-radius: 50%;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
		&:after {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #77243a;
			position: absolute;
			left: 5px;
			top: 4px;
		}
	}
}
*/
/* 
.rating-block {
	display: table;
	font-size: 0;
}
.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	&.edit .star {
		cursor: pointer;
	}
	.star {
		width: 17px;
		height: 14px;
		display: inline-block;
		position: relative;
		z-index: 3;
	}
}
.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}
.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}
.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}
*/
/* 
.quantity {
	width: 88px;
	height: 40px;
	display: flex;
	border: 1px solid rgba(166, 166, 166, 0.45);
	// .quantity__button
	&__button {
		flex: 0 0 30px;
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;
			width: 9px;
			height: 1px;
		}
		@media (min-width: $md2+px) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			color: #a6a6a6;
			font-size: 12px;
			width: 100%;
			text-align: center;
		}
	}
}
*/
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?1bq4it");
  src: url("../fonts/icomoon.eot?1bq4it#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?1bq4it") format("truetype"), url("../fonts/icomoon.woff?1bq4it") format("woff"), url("../fonts/icomoon.svg?1bq4it#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon2.eot?a9go1n");
  src: url("../fonts/icomoon2.eot?a9go1n#iefix") format("embedded-opentype"), url("../fonts/icomoon2.ttf?a9go1n") format("truetype"), url("../fonts/icomoon2.woff?a9go1n") format("woff"), url("../fonts/icomoon2.svg?a9go1n#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-ecology:before {
  content: "";
}

._icon-hardware:before {
  content: "";
}

._icon-map:before {
  content: "";
}

._icon-price:before {
  content: "";
}

._icon-time:before {
  content: "";
}

._icon-worker-1-3:before {
  content: "";
}

body {
  font-family: "Museo Sans Cyrl";
  color: #5F5F5F;
}
body._lock {
  overflow: hidden;
}
body._lock .header {
  padding: 8px 17px 8px 0;
}
body._lock .callback {
  right: 17px;
}

._container {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 0 0 7.72%;
}

.mainscreenMenuDinamic {
  display: none;
}

._btn {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
  min-height: 45px;
  padding: 13px 51px 13px 31px;
  border-radius: 25px;
  border: 1px solid #0077c0;
}
._btn::before {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/img/icons/arrowRight.svg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.lock {
  overflow: hidden;
}

.page {
  padding: 80px 0 0 19.27%;
  position: relative;
}
@media (max-width: 565px) {
  .page {
    padding: 60px 0 0 19.27%;
  }
}

.header {
  position: absolute;
  width: 100%;
  min-height: 80px;
  padding: 8px 0;
  z-index: 100;
  background-color: #fff;
}
.header__container._container {
  max-width: 100%;
  overflow: visible;
  margin: 0;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: calc(8px + 42 * ((100vw - 320px) / 1600));
  padding-right: calc(8px + 42 * ((100vw - 320px) / 1600));
}
.header__menu {
  margin: 0 0 0 9.427%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list li {
  margin: 5px 0;
  margin-right: calc(10px + 44 * ((100vw - 320px) / 1600));
}
.header__list li:last-child {
  margin-right: 0;
}
.header__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
}
.header__link:hover {
  text-decoration: underline;
}
.header__phone {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 600;
  position: relative;
  min-height: 30px;
  background: url(/img/icons/header/tel.svg) left no-repeat;
  padding: 4px 0 4px 35px;
  white-space: nowrap;
  margin: 0 0 0 auto;
}

.header__burger {
  display: none;
}

@media (max-width: 1474px) {
  .header__row {
    padding: 0 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu {
    margin: 0 auto;
  }
}
@media (max-width: 1015px) {
  .page {
    padding-left: 0;
  }

  .header {
    z-index: 90;
  }

  .header__burger {
    display: block;
    position: absolute;
    right: 16px;
    width: 30px;
    height: 17px;
    z-index: 100;
  }

  .header__burger span {
    position: absolute;
    background-color: #343A40;
    left: 0;
    width: 100%;
    height: 2px;
    top: 7.5px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 100;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background: #343A40;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger._active {
    position: fixed;
  }

  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #ffffff;
  }

  .header__burger._active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    background-color: #ffffff;
  }

  .header__burger._active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    background-color: #ffffff;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100vh;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #1598e9;
    padding: 70px 10px 20px 10px;
    z-index: 100;
  }

  .header__menu._active {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    width: 100%;
    margin: 0;
    z-index: 100;
  }
  .header__menu._active .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu._active .header__link {
    font-size: 22px;
    color: #ffffff;
  }
}
@media (max-width: 1015px) and (max-width: 565px) {
  .header__menu._active .header__link {
    font-size: 14px;
  }
}
@media (max-width: 1015px) {
  .header__list {
    display: block;
  }
}
@media (max-width: 1015px) {
  .header__list li {
    margin: 0px 0px 35px 0px;
  }
}
@media (max-width: 1015px) {
  .header__phone {
    margin-left: auto;
    margin-right: calc(40px + 60 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 565px) {
  .header {
    padding: 5px 0;
    min-height: 60px;
  }

  .header__phone {
    display: none;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 168px;
            flex: 0 0 168px;
  }
  .header__logo img {
    width: 100%;
  }
}
.altmenu {
  position: absolute;
  width: 19.27%;
  min-height: 100%;
  background: #1598e9;
  left: 0;
  top: 0;
  z-index: 70;
  padding: 170px 0 0 0;
}
.altmenu__item {
  margin: 40px 0 0 0;
  position: relative;
}
.altmenu__item:first-child {
  margin: 0;
}
.altmenu__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 20px 0 0 0;
}
.altmenu__body {
  width: 75.94%;
  height: 100%;
  margin: 0 auto;
}
.altmenu__title {
  font-size: calc(13px + 2 * ((100vw - 320px) / 1600));
  line-height: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  padding: 0 35px 0 0;
}
.altmenu__title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.altmenu__title::after {
  content: "";
  display: inline-block;
  width: 21px;
  height: 14px;
  background: url(/img/icons/arrowMenu.svg) no-repeat;
  -webkit-transform: rotate(180deg) translate(0, 50%);
      -ms-transform: rotate(180deg) translate(0, 50%);
          transform: rotate(180deg) translate(0, 50%);
  margin: 0 0 0 auto;
  position: absolute;
  top: 50%;
  right: 3%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.altmenu__title._active::after {
  -webkit-transform: rotate(0deg) translate(6px, 0);
      -ms-transform: rotate(0deg) translate(6px, 0);
          transform: rotate(0deg) translate(6px, 0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.altmenu .list-altmenu {
  margin: 0 0 0 30px;
  display: none;
  padding: 25px 0 0 0;
}
.altmenu .list-altmenu li {
  margin: 22px 0 0 0;
}
.altmenu .list-altmenu li:first-child {
  margin: 0;
}

.list-altmenu__link {
  font-size: 22px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E2E1E1;
}
.list-altmenu__link:hover {
  text-decoration: underline;
}

@media (max-width: 1175px) {
  .altmenu {
    width: 21.27%;
  }
}
@media (min-width: 1015px) {
  .list-altmenu__link {
    font-size: 13px;
  }
}
@media (max-width: 1015px) {
  .altmenu {
    width: 100%;
    background: transparent;
    position: static;
    padding: 0;
  }
  .altmenu__body {
    width: 100%;
    margin: 0;
  }
  .altmenu__title {
    font-size: 22px;
  }

  .altmenu__item::after {
    display: none;
  }

  .list-altmenu__link {
    font-size: 22px;
  }
}
@media (max-width: 565px) {
  .altmenu__title {
    font-size: 14px;
  }

  .list-altmenu__link {
    font-size: 13px;
  }
}
.page-mainscreen__body {
  min-height: calc(150px + 295 * ((100vw - 320px) / 1600));
  width: 100%;
  background: url(/img/pages/page-points/main.jpg) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-mainscreen__title {
  font-size: calc(28px + 54 * ((100vw - 320px) / 1600));
  line-height: calc(96 / 82 * 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}
@media (min-width: 450px) {
  .page-mainscreen__title br {
    display: none;
  }
}
.page-mainscreen__nav {
  margin: 40px 0 0 0;
}
@media (max-width: 780px) {
  .page-mainscreen__nav {
    display: none;
  }
}
.page-mainscreen__breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-mainscreen__breadcrumb li:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.page-mainscreen__breadcrumb li::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url(/img/pages/page-points/icons/arrow-right.svg) center no-repeat;
  margin: 0 8px;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.page-mainscreen__breadcrumb li:last-child::after {
  display: none;
}
.page-mainscreen__link {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #E5E5E5;
}

.locations {
  padding-bottom: calc(40px + 46 * ((100vw - 320px) / 1600));
  padding-top: 90px;
}
.locations__container._container {
  width: 82.5%;
  margin: 0 auto;
}
.locations__map {
  min-height: calc(218px + 382 * ((100vw - 320px) / 1600));
}

.place {
  padding-top: calc(30px + 54 * ((100vw - 320px) / 1600));
}
.place__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -40px;
}
.place__column {
  padding: 0 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: calc(28px + 44 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.place__item {
  padding: 0 0 0 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.place__title {
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.place__title::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(/img/pages/page-points/icons/trashbox.png) center no-repeat;
  margin: 0 15px 0 0;
}
.place__subtitle {
  font-size: 18px;
  line-height: 26px;
  margin: 12px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.place__tel {
  margin: 18px 0 0 0;
  font-size: 20px;
  line-height: 23px;
  color: #41A64E;
}

@media (max-width: 860px) {
  .locations {
    padding: 0;
  }

  .locations__container._container {
    width: 100%;
  }

  .place__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-right: calc(30px + 70 * ((100vw - 320px) / 1600));
  }

  .place__subtitle {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  }
}
.feedback {
  background: url(/img/feedback/feedBack.jpg) center/cover no-repeat;
}
.feedback__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(750px + -150 * ((100vw - 320px) / 1600));
  margin: 0 30px;
}
.feedback__title {
  font-size: calc(40px + 2 * ((100vw - 320px) / 1600));
  line-height: 49px;
  color: #FFFFFF;
  text-align: center;
}

.form-feedback {
  margin-top: calc(40pxpx + 18px * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-feedback__item_name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.37%;
          flex: 0 1 46.37%;
  border-bottom: 1px solid #FFFFFF;
  padding: 18px 0;
}
.form-feedback__item_name input {
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
  text-align: center;
  width: 100%;
  min-height: 37px;
  background-color: transparent;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.form-feedback__item_name input:focus::-webkit-input-placeholder {
  color: transparent;
}
.form-feedback__item_name input:focus::-moz-placeholder {
  color: transparent;
}
.form-feedback__item_name input:focus:-ms-input-placeholder {
  color: transparent;
}
.form-feedback__item_name input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
.form-feedback__item_name input::-moz-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
.form-feedback__item_name input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
.form-feedback__item_name input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
.form-feedback__item_name input::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
.form-feedback__item_tel {
  padding: 18px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.37%;
          flex: 0 1 46.37%;
  border-bottom: 1px solid #FFFFFF;
}
.form-feedback__item_tel input {
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  min-height: 37px;
  background-color: transparent;
}
.form-feedback__item_tel input:focus::-webkit-input-placeholder {
  color: transparent;
}
.form-feedback__item_tel input:focus::-moz-placeholder {
  color: transparent;
}
.form-feedback__item_tel input:focus:-ms-input-placeholder {
  color: transparent;
}
.form-feedback__item_tel input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  padding: 18px 0;
}
.form-feedback__item_tel input::-moz-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  padding: 18px 0;
}
.form-feedback__item_tel input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  padding: 18px 0;
}
.form-feedback__item_tel input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  padding: 18px 0;
}
.form-feedback__item_tel input::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  padding: 18px 0;
}
.form-feedback__item_check {
  margin: 32px 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-feedback__item_check input {
  display: none;
}
.form-feedback__item_check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  position: relative;
  padding: 0 0 0 42px;
}
.form-feedback__item_check label::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}
.form-feedback__item_check input:checked + label::before {
  background: url(/img/icons/check.svg) center no-repeat, #2D8ACD;
  border: none;
}
.form-feedback__item_btn {
  margin: 18px 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  background-color: #41A64E;
  border-radius: 40px;
}
.form-feedback__item_btn button {
  background-color: transparent;
  width: 100%;
  min-height: 55px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
}
.form-feedback__item_btn:hover {
  -webkit-box-shadow: inset 0 0 20px #028602;
          box-shadow: inset 0 0 20px #028602;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1015px) {
  .feedback__container._container {
    margin: 0;
  }
}
@media (max-width: 770px) {
  .form-feedback__item_name, .form-feedback__item_tel {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .form-feedback {
    padding: 0 50px;
  }
}
@media (max-width: 425px) {
  .feedback {
    display: none;
  }
}